@charset 'utf-8';



/* 1. Reset tags
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,input,textarea,button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, address, section, video, audio {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	line-height:inherit;
	border: 0;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-ms-word-wrap: break-word;
	    word-wrap: break-word;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	line-height:150%;
}
html {
	height: 100%;
	font-size: 100%;	/*62.5%;*/		
/*	overflow-y: scroll;*/				/* Keeps page centred in all browsers regardless of content height */
	overflow-y: scroll !important;		/* Keeps page centred in all browsers regardless of content height */
	overflow-x: hidden;					/* Hide horizontal scrollbar on the page with VC stretch row */
	-webkit-text-size-adjust: 100%; 	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	    -ms-text-size-adjust: 100%; 	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    background-color: #000;
    margin: 0px;
    text-align: center;
	    background-size: cover;
}

.mario img {
   max-width: 370px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logo {
    margin-top: 10px;
    margin-bottom: 60px;
}
.button {
    background: url(/buttons_PNG156.png) no-repeat;
     background-size: cover;
    width: 300px;
    height: 90px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 87px;
    color: #fff;
    font-size: 38px;
    font-family: 'Bangers', cursive;
}
.copy {
    color: #000;
    margin-top: 9px;
    font-size: 13px;
}
.homea:hover{
	text-decoration:none;
}
.infot h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.infot  {
   text-align:left;
}
.infot h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 600;
}
.main {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
a {
    color: #000;
	font-size:14px;
}
a:hover {
    color: #5d5d5d;
}

/* 2. Default tag's settings
-------------------------------------------------------------- */
body { 	text-rendering: optimizeLegibility; font-family: 'Open Sans', Tahoma;
    font-size: 16px; 
	

    
	}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {	display: block; }

h1, h2, h3, h4, h5, h6 { line-height:120%; }
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, address { margin: 0; }
h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,
h2+h3,h2+h4,h2+h5,h2+h6,
h3+h4,h3+h5,h3+h6,
h4+h5,h4+h6,
h5+h6 {
	margin-top:0;
}
dt, b, strong {	font-weight: 500; }
p, ul, ol, dl, blockquote, address { margin-bottom: 1.7em; }
li > ol, li > ul { margin-bottom:0; }
ul>li, ol>li, dl>dd { margin-bottom:0; }
li>ul, li>ol, dd>dl { margin-top:0.5em; }
li > p { margin-bottom:0; }
li > p+p { margin-top:0.5em; }

ol, ul {
	padding-left:1.5em;
}


/* Links */
a {
	text-decoration:none;
	background:transparent;

}

a:hover{
	text-decoration:underline;
}

a,
a:hover,
a:focus,
a:active {
	outline: 0;
}
a img { border: none; }

a,
button {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

:active, :focus { outline:0; }


/* Tables */
table {
	border-collapse:collapse;
	border-spacing: 0;
}
td, th {
	border: 1px solid #e4e7e8;
	padding: 4px;
}
caption, th {
	font-weight: bold;
	text-align: center;
}
body[class*="woocommerce-"] table th, body[class*="woocommerce-"] table td {
	border-width:0;
}

blockquote:before, blockquote:after,
q:before, q:after {	content: ""; }
blockquote, q {	quotes: "" "";}

dt {	font-weight: bold; }
dd {	margin-left: 1.5em; }
b, strong {	font-weight: bold; }
dfn, cite, em, i { font-style: italic; }
blockquote { padding: 0.7em; }

pre, code, kbd, tt, var, samp {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}
pre {
	overflow: auto;
	max-width: 100%;
}
abbr, acronym {
	border-bottom: 1px dotted;
	cursor: help;
}
mark, ins {
	background-color:transparent;
	text-decoration: none;
	font-style:italic;
	font-weight:bold;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { bottom: 1ex; }
sub { top: .5ex; }
small {	font-size: 75%; }
big {	font-size: 125%; }

[hidden], template { display: none; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* Images */
img {
	max-width: 100%;
	height: auto;
	vertical-align:top;
}


.tp a {
    font-size: 13px;
}
