<html>

<head>

    <meta name="viewport" content="width=360">
    <title>Términos y condiciones </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" media="all" href="/static/css/style.css" rel="stylesheet" />
    <style>
        p {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="infot">
            <div class="col-xs-12 text-center txt1">
                <h2>Términos y condiciones
                </h2>
            </div>
            <div class="col-xs-10">
                <p class="text-left">
                    <p>Servicio GoGamehub de Suscripción mediante Pagos Vodafone/Pagos Orange. </p>
                    <p>El presente documento establece las Condiciones Generales que regulan el uso de los productos o
                        servicios ofrecidos por CPX Mobile. La descarga o uso de cualquiera de los productos o
                        servicios ofertados por dicha sociedad por parte del usuario, implicará la plena e íntegra
                        aceptación de las presentes Condiciones Generales. Por tanto, recomendamos se abstenga de la
                        utilización de estos servicios en caso de desacuerdo con alguna de las condiciones aquí
                        establecidas. </p>

                    <h4>1. Informaciones de Companía</h4>
                    <p> Nombre de empresa: Mobile CPX Technology Limited
                        <br> Dirección de empresa: República de Seychelles
                        <br> Número de VAT: EU826478633
                    </p>

                    <h4>2. Descripción de servicio</h4>
                    <p>Gogame Hub es un mercado de juegos para juegos html5 de alta calidad.
                        <br>El servicio consta de múltiples categorías de juegos html5 online que incluyen juegos de
                        estrategia, tiro, acción, juegos deportivos, arcade, juegos casual y de acertijo.
                        <br>En el modelo de suscripción, el usuario final recibirá una señal para cada cobro cumplido.
                    </p>

                    <h4>3. SERVICIO </h4>
                    <p>CPX Mobile ofrece servicios y descargas de contenidos de entretenimiento a través de sus
                        servicios para teléfonos móviles compatibles y/o PC. Los servicios pueden incluir asimismo el
                        acceso a productos y servicios de terceros. </p>
                    <P>Servicio de Suscripción: Este método de pago permite al usuario el acceso al portal así como
                        realizar descargas de contenido digital. El usuario podrá solicitar el alta al servicio de
                        suscripción a través de la web con la información que en cada momento se publicite. Una vez
                        relaizada la suscripción, el usuario recibirá en su número de teléfono móvil un mensaje de
                        confirmación de suscripción al servicio, y acepta las condiciones las presentes condicones
                        particulares y las Condiciones Legales expuestas por el operador en su web y en la página de
                        suscripción al servicio. </P>
                    <p>CPX Mobile se reserva el derecho de cambiar las condiciones así como de interrumpirlo temporal o
                        definitivamente, o de cancelar unilateralmente todos los servicios.
                    </p>
                    <p>Queda excluido, de acuerdo con el articulo 102 del Real Decreto Legislativo 1/2007, de 16 de
                        noviembre, por el que se aprueba el texto refundido de la Ley General para la Defensa de los
                        Consumidores y Usuarios y otras leyes complementarias, el derecho de desistimiento para los
                        contenidos recibidos. La descarga de contenidos multimedia puede llevar asociados costes de
                        navegación añadidos de la operadora. El importe de estos costes dependerá de las tarifas y
                        condiciones que cada usuario tenga contratadas con su operadora de telefonía móvil por lo que
                        en ningún caso, podrá ser considerado Giant Mobile responsable de tales costes. Los importes de
                        cada uno de estos servicios serán facturados y cobrados por la operadora de telefonía móvil con
                        la que el usuario tenga contratado el correspondiente servicio de telefonía. En el caso de
                        usuarios que utilicen teléfono móvil con tarjeta pre-pago, el importe estos servicios será
                        cargado al saldo del usuario. </p>

                    <h4>4. RESPONSABILIDAD DEL USUARIO</h4>
                    <p>CPX Mobile no será responsable de las pérdidas o daños que pudieran derivarse de un mal uso
                        del contenido o servicio proporcionado por CPX Mobile. De este modo estará el Usuario
                        obligado a no usar indebidamente el sistema y los Servicios de Giant Mobile y a observar las
                        leyes y respetar los derechos de terceros, incluyendo los derechos sobre marcas, patentes,
                        copyright y cualesquiera otros derechos de propiedad intelectual e industrial. Asimismo, el
                        Usuario reconoce y acepta expresamente que el uso de estos Servicios no está permitido para
                        fines comerciales y cualesquiera otros fines ajenos de los descritos en estas Condiciones
                        Generales.</p>
                    <h4>5. RESPONSABILIDAD DE CPX MOBILE </h4>
                    <p>La responsabilidad de CPX Mobile se limitará en principio al valor de la cantidad satisfecha
                        por el usuario por lo servicios que se ofrecen según estas condiciones generales. CPX Mobile
                        será responsable en cualquier caso de todo aquello que le sea exigido por Ley. </p>

                    <h4>6. LEY APLICABLE </h4>
                    <p>CPX Mobile se someterá al fuero del consumidor y/o usuario. Si por cualquier legislación
                        nacional o autonómica, alguna cláusula de este contrato puede interpretarse como abusiva para
                        el consumidor o usuario según la legislación propia, se tendrá por no puesta y no afectará en
                        ningún caso al consumidor o usuario
                    </p>

                    <h4>7. POLÍTICA DE PRIVACIDAD DE DATOS </h4>
                    <p>CPX Mobile está muy concienciada con la protección de los datos personales, como consecuencia
                        presenta esta Política de Privacidad que establece de manera transparente cómo se tratan y
                        protegen los datos personales:<br>
                        • Recopilamos sus datos para darle respuestas a sus inquietudes o para formalizar la
                        contratación de un servicio siempre con total transparencia.<br>
                        • Cuando vayamos a tratar información personal sobre usted, lo haremos cumpliendo la normativa
                        vigente en materia de protección de datos, y cuando sea necesario, le pediremos permiso para
                        ello.
                        <br>• Entendemos que en algún momento quiera ejercer sus derechos a los datos.
                        <br>• Garantizamos la seguridad de sus datos y por ello, los tratamos de acuerdo con lo
                        establecido en la legislación aplicable en materia de protección de datos, (Reglamento UE
                        2016/679 de 27 de abril de 2016).
                    </p>


                    <h4>8. Atención al cliente</h4>
                    <p>Teléfono de asistencia: 900907274<br>
                        Soporte de E-mail: info-es@mobileinfo.biz
                    </p>

                    <h4>9. Remedios de cancelación</h4>
                    <p>Usuario puede llamar o enviar E-mail a centro de atención al cliente para pedir la cancelación</p>
                    <p>Después de que el usuario subscribe nuestro servicio, puede usarlo durante toda la semana aunque
                        cancela el servicio en este período</p>
                </p>
            </div>
        </div>
        <!-- <div class="tp">
            <a href="/dhp">Homepage</a> |
            <a href="/tnc">Termini e Condizioni</a> |
            <a href="/pri">Privacy policy |</a>
            <a href="/static/GDPR.pdf">GDPR |</a>
            <a href="/dhp">Gestione Servizi</a>
        </div> -->
        <div class="copy">Copyright © 2016 Mobile CPX Technology Limited</div>
    </div>
</body>

</html>